<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sudoku</title>
  <link rel="icon" href="sudoku.png" type="image/x-icon">
  <!-- Our Styles -->
  <link rel="stylesheet" href="css/main.css">
  <insert-html link="https://swag31415.github.io/Portfolio/inserts/head.html"></insert-html>
</head>

<body>
  <insert-html link="https://swag31415.github.io/Portfolio/inserts/menu.html"></insert-html>
  <main class="container" id="app">
    <h1>Sudoku</h1>
    <p>Relax and watch your computer play sudoku.</p>
    <div class="row">
      <div class="col">
        <button class="btn amber" @click="loop()">Start</button>
      </div>
      <div class="col">
        <button class="btn light-blue" @click="stop()">Stop</button>
      </div>
    </div>
    <table class="sudoku">
      <tr v-for="row, r in sol">
        <td v-for="val, c in row" :class="['r'+(r+1), 'c'+(c+1), 'b'+kobe(r+1, c+1), 'tile', 'hoverable']" v-text="val"></td>
      </tr>
    </table>
  </main>
  <insert-html link="https://swag31415.github.io/Portfolio/inserts/foot.html"></insert-html>
  <!-- HTML Inserts -->
  <script src="https://swag31415.github.io/Portfolio/js/html_inserts.js"></script>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
  <!-- The Solver -->
  <script src="js/kudoku.js"></script>
  <!-- Our Scripts -->
  <script src="js/main.js"></script>
</body>

</html>